@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}
body{
    background-color: lightgray;
}
.users{
    margin-left: 30px;
    margin-top: 15px;
}
.welcome h3{
    font-size: 1.3em;
    font-weight: 700;
    font-style: normal;
}
.navigation{
    background-color: #fff;
    width: 180px;
    padding: 20px;
    height: 425px;
}