@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.navigation, .dropdown-menu{
    background-color: #004f71;
}
.title{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}
.title:hover{
    color: #fff;
}
.nav-link{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 500;
    font-style: normal;
    transition: color 0.15s;
}
.nav-link:hover{
    color: rgb(0, 122, 204) !important;
}
.dropdown-header{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
}
.dropdown-item{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 500;
    font-style: normal;
    transition: color 0.15s;
}
.dropdown-item:hover{
    color: rgb(0, 122, 204) !important;
}
.top-banner{
    background-color: #f5f5f5;
}
.search-button{
    margin-left: -12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.bx-search{
    font-size: 0.9em;
    font-family: "Lato", serif;
    font-weight: 700;
}