.details-title{
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    color: #004f71;
}
.table tr th{
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    color: #004f71;
}