.company-name{
    font-family: "Lato", sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    font-style: normal;
}
.update-form{
    background-color: #fff;
}
.password-update-page{
    background-color: #004f71;
}
