@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}
body{
    background-color: lightgray;
}
.create-form{
    background-color: #fff;
}
.create-form h2{
    color: #004f71;
    font-weight: 700;
    font-size: 1.8em;
}
.form-label{
    color: black;
    font-weight: 700;
    font-size: 0.9em;
}